@tailwind base;
@tailwind components;
@tailwind utilities;

.button-filter{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-input{
    width: 90%;
    padding: 5px 10px;
    border-radius: 5px;
}

.icon-search{
    width: 100%;
    height: 100%;
    text-align: center;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex !important;
    align-items: center;
    justify-content: center;
}

#breadcrumbs{
    margin-bottom: 15px;
}

#breadcrumbs .breadcrumb{
    display: flex;
    align-items: center;
    gap: 10px;
}

#breadcrumbs .breadcrumb .breadcrumb-item{
    padding: 5px 32px;
    border: 1px solid #999;
    border-radius: 25px;
}

#breadcrumbs .breadcrumb .breadcrumb-item a{
    font-size: 16px;
}

#breadcrumbs .breadcrumb .breadcrumb-item.active{
    background-color: rgb(250 204 21);
    padding: 5px 32px;
    border: 1px solid rgb(250 204 21);
    border-radius: 25px;
}

.container-invoice{
    width: 50%;
    border: 1px solid;
    margin: auto;
    padding: 15px;
}

.container-invoice .info-store{
    width: 60%;
    margin: auto;
    text-align: center;
}

.info-invoice .info-invoice-date{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-invoice .info-invoice-products table{
    width: 100%;
}

.info-invoice .info-invoice-products table td{
    border: 1px solid;
    padding: 5px 10px;
    text-align: center;
}

.info-invoice .info-invoice-products table thead td{
    font-weight: 600;
}

.info-invoice .info-invoice-total p{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container-invoice hr{
    background: rgba(0, 0, 0, 0.8);
    height: 1px;
    border: 0;
    margin: 10px 0;
}

/* .banner-custome{
    background: url('public/images/banner-home.jpg');
} */

#pagination_wrapper nav div:nth-child(1){
    display: none;
}

#pagination_wrapper nav>div:nth-child(2) .relative.z-0.inline-flex{
    gap: 5px;
}

#order_pagination nav div:nth-child(1){
    display: none;
}

#order_pagination nav>div:nth-child(2) .relative.z-0.inline-flex{
    gap: 5px;
}
